# Ignore the python compiled files

*.pyc

# Ignore log files

*.log

# Ignore the venv directories and configuration

bin
include
lib
lib64
share
pyvenv.cfg

# Ignore the dash directories

etc

# Ignore others folder

others